@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Italiana&display=swap');

body{
    background-color: #f6f6f6;
}

*{
    box-shadow: border-box;
    font-family: 'Italiana', serif;
}